{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{{ sortie.nom }}{% endblock %}

{% block body %}
    <div class="col-md-8 mx-auto">
        <div class="text-center">
            <h2 class="h2 mb-3 font-weight-normal">{{ controller_name }}{{ sortie.nom }}</h2>
        </div>
        <div class="form-row my-5">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="p-3 mb-2">Nom de la sortie</div>
                        <div class="p-3 mb-2">Date début de la sortie</div>
                        <div class="p-3 mb-2">Date limite d'inscription</div>
                        <div class="p-3 mb-2">Durée de la sortie</div>
                        <div class="p-3 mb-2">Nombre de places</div>
                        <div class="p-3 mb-2">Descripttion de la sortie</div>
                    </div>
                    <div class="col-md-8">
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.nom }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.dateHeureDebut|date("Y-d-m H:m:i") }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.dateLimitInscription|date("Y-d-m H:m:i") }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie|dureeSortie }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie|nbParticipant() }}
                            /{{ sortie.nbInscriptionMax }}</div>
                        <div class="p-3 mb-2 bg-light text-dark overflowClass">{{ sortie.infosSortie }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="p-3 mb-2">Site lié à la sortie</div>
                        <div class="p-3 mb-2">Lieu de la sortie</div>
                        <div class="p-3 mb-2">Ville</div>
                        <div class="p-3 mb-2">Code postal</div>
                        <div class="p-3 mb-2">Rue</div>
                        <div class="p-3 mb-2">Latitude</div>
                        <div class="p-3 mb-2">Longitude</div>
                    </div>
                    <div class="col-md-8">
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.site }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.lieu }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.lieu.ville.nom }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.lieu.ville.codePostal }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.lieu.rue }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.lieu.lattitude }}</div>
                        <div class="p-3 mb-2 bg-light text-dark">{{ sortie.lieu.longitude }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row my-auto">
            <div class="col-md-6">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-fixed table-fixed-sm">
                            <thead>
                            <tr>
                                <th scope="col" class="col-6">Prénom</th>
                                <th scope="col" class="col-6">Nom</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for participant in sortie.participant %}
                                <td class="col-6">
                                    {{ participant.prenom }}
                                </td>
                                <td class="col-6">
                                    {{ participant.nom }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mx-5">
                    {% if sortie|inscrit(user) %}
                        <a class=" btn btn-danger btn-block send-button tx-tfm"
                           href="{{ path('sortie_register',{id : sortie.id}) }}">Se désister</a>
                    {% elseif sortie|nbParticipant < sortie|nbParticipantTotal %}
                        <a class=" btn btn-info btn-block send-button tx-tfm"
                           href="{{ path('sortie_register',{id : sortie.id}) }}">S'inscrire</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}